:root {
  --clr-linear-gradient-active-input-border: hsl(249, 99%, 64%) to
    hsl(278, 94%, 30%);
  --clr-red-input-errors: hsl(0, 100%, 66%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-light-grayish-violet: hsl(270, 3%, 87%);
  --clr-dark-grayish-violet: hsl(279, 6%, 55%);
  --clr-very-dark-violet: hsl(278, 68%, 11%);
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  font-family: "Space Grotesk", sans-serif;
  margin: 0 auto;
}

.card-front,
.card-back,
.card-front__img,
.card-back__img {
  width: 290px;
}
.card-section {
  width: 100%;
  min-height: 40vh;
  background-image: url(images/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /*max-inline-size: 1200px;*/
  position: relative;
  /*padding-inline: 2rem;
  margin-inline: auto;*/
}

/*POSITIONING*/
img {
  max-width: 100%;
  display: block; /*to remove the space at the bottom of img*/
}

.card-back,
.card-front {
  position: absolute; /*for when they are parents to the 
  content inside so while we have this we will position 
  the inside content and then we will set it back to absolute!!*/
}
.card-front > *:not(.card-front__img),
.card-back > *:not(.card-back__img) {
  /*so this makes all the children inside the card-front and back - EXCEPT for
  the img - position: absolute*/
  position: absolute;
}

.card-front__img,
.card-back__img {
  max-width: revert; /*This is like a reset because of the problems
  we get with setting min-width on all our images in this case*/
}
/*BIG PROBLEM HERE IS THAT PADDING DOESN'T WORK WITH POSITION'S
SO WE MUST CREATE IT IN A DIFFERENT WAY
so instead we will go to the logo and set top: 2rem
BUT we will use it often so we will set up a variable
inside of the card-front - so it will work for JUST the children
of the card-front*/

.card-front {
  color: var(--clr-white);
  font-size: 0.8rem;
  --card-padding: 1.2rem; /*this is only available to the 
  children of the card-front*/
  z-index: 2; /*Now the card-front is on top of the card-back*/
  top: 53.6% !important; /*WE MUST set its parent which is: card-section as 
  position: relative in order for this to work */
  left: 0.9rem !important;
  font-size: 0.75rem;
  width: min-content;
}

.card-front__logo {
  top: var(--card-padding);
  left: var(--card-padding);
  width: 20%;
}
.card-front__number {
  letter-spacing: 2px;
  font-size: 1.2rem;
  top: 55%;
  left: var(--card-padding);
}
.card-front__name {
  bottom: var(--card-padding);
  left: var(--card-padding);
  text-transform: uppercase;
}
.card-front__month {
  bottom: var(--card-padding);
  right: 2.7rem;
}
.card-front__slash {
  bottom: var(--card-padding);
  right: 2.3rem;
}
.card-front__year {
  bottom: var(--card-padding);
  right: var(--card-padding);
}
.card-back {
  top: 2rem !important;
  right: 1rem !important;
  width: min-content;
}
.card-back__cvc {
  color: var(--clr-light-grayish-violet);
  font-size: 0.6em;
  right: 2rem;
  top: 46%;
}
.card-front,
.card-back {
  position: absolute; /*so we are switching it back from
  absolute to relative AGAIN!! and now they stack up on
  top of each other because it works like the default which
  is static*/
  inset: auto; /*inset is top, bottom, left and right all 
  wrapped up in one so if we use auto or revert brings it back 
  to the original and in this case it removes the top: 42%
  which we had set up on the card-front above but it will 
  remove all the position properties you may have on*/
}

.form {
  padding: 100px 20px 70px 20px;
}
label {
  text-transform: uppercase;
  font-size: 15px;
  color: var(--clr-very-dark-violet);
  margin-bottom: 0.3rem !important; /*This is NOT
  working*/
}
input {
  display: block;
  margin: 0;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--clr-light-grayish-violet);
  font-family: inherit;
}
input::placeholder {
  color: var(--clr-light-grayish-violet);
  font-size: 18px;
}
.exp-content {
  display: flex;
  gap: 0.5em;
}
.card-security {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0 !important; /*This is NOT
  working*/
}

.btn {
  background-color: var(--clr-very-dark-violet);
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  color: var(--clr-white);
  border: none;
  cursor: pointer;
}

.complete-state {
  text-align: center;
  margin-top: 6rem;
  /*display: none; we will do this with .hidden instead*/
}
.complete-state img {
  margin: auto;
}

.complete-state h1 {
  text-transform: uppercase;
  margin-top: 20px;
  letter-spacing: 3px;
}

.complete-state p {
  color: var(--clr-light-grayish-violet);
  margin: 0.8em 0 1.2em 0;
}
.complete-state button {
  width: 80%;
  font-family: inherit;
}
.hidden {
  display: none;
}

small {
  font-size: 11px;
  visibility: hidden;
}

.error input {
  border-color: var(--clr-red-input-errors);
}
.error small {
  visibility: visible;
  color: var(--clr-red-input-errors);
}
.success input {
  border-color: green;
}

@media (min-width: 768px) {
  .main-card {
    display: flex;
    align-items: center;
    max-width: 1440px;
  }

  .card-section {
    width: 25%;
    /*margin-right: auto;*/
    min-height: 100vh;
    background-image: url(images/bg-main-desktop.png);
  }

  .card-front,
  .card-back,
  .card-front__img,
  .card-back__img {
    width: 390px;
  }
  .card-front {
    top: 20% !important;
    left: 25% !important;
    font-size: 0.9rem;
  }
  .card-back {
    top: 52% !important;
    left: 45% !important;
  }

  .card-front__number {
    font-size: 1.7rem;
  }
  .card-back__cvc {
    font-size: 0.9em;
    top: 45%;
    left: 80%;
  }
  .form {
    align-self: center;
    margin-left: 320px;
    width: 30%;
  }

  .complete-state {
    margin: auto;

    width: 400px;
  }
  .complete-state button {
    width: 100%;
  }
}
